version: "3.9"

services:
  rag_server:
    build:
      context: .
      dockerfile: Dockerfile.mcp
    env_file:
      - .env
    ports:
      - "3000:3000"
    networks:
      - app-network

  api_server:
    build:
      context: .
      dockerfile: Dockerfile.backend
    env_file:
      - .env
    depends_on:
      - rag_server
    ports:
      - "5000:8000"   
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
